.review-card {
  padding: 24px 56px;
  background-color: #d8e3e8;
  text-align: center;
  border: 1px solid #4c6573;
  /* box-shadow: rgba(49, 148, 218, 0.4) 0px 0px 0px 2px,
    rgba(49, 148, 218, 0.4) 0px 4px 6px -1px,
    rgba(49, 148, 218, 0.4) 0px 1px 0px inset; */
  border-radius: 5px;
}
.card-r-img {
  width: 50px;
}
