.main-header {
  background-color: #2980b9;
}

.size {
  width: 80vw;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.nav-items ul {
  display: flex;
  align-items: center;
}
.nav-items li {
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 16px;
  font-size: 18px;
}
.chef {
  color: #ffffff;
}
.logo {
  font-size: 32px;
  color: #231f20;
}
.active {
  background-color: black;
  padding: 2px 5px;
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 16px;
  }
}
