.login {
  margin-top: 50px;
}

.login-title {
  text-align: center;
}
.login-form {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
#email,
#password,
#name,
#photo {
  margin-bottom: 16px;
  padding: 10px;
  outline: none;
  width: 360px;
}
.submit-btn {
  padding: 10px 16px;
  outline: none;
  cursor: pointer;
}
.login-new {
  text-align: right;
}
