.main-banner {
  background-color: #2980b9;
}

.banner {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.banner-img {
  width: 300px;
}
.banner-title {
  font-size: 48px;
  margin-bottom: 16px;
  color: #ffffff;
}
.banner-para {
  font-size: 20px;
  margin-bottom: 16px;
  color: #ffffff;
}
.banner-btn {
  padding: 10px 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.description {
  width: 50%;
}
.pic {
  width: 50%;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .description {
    width: 100%;
  }
  .pic {
    width: 100%;
  }
}
